@charset "UTF-8";

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.body,div,form,fieldset,title,p,text{
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

.under_line{
  text-decoration: underline;
  color: blue;
}
.container {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 
    solid
    1px
    #CCC;
}

.w-btn {
  display: inline-block;
  position: relative;
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}


.w-btn-yellow {
  background-color: #fce205;
  color: #6e6e6e;
}

.w-btn-green {
  background-color: rgb(23, 246, 23);
  color: #6e6e6e;
}

.w-btn-red {
  background-color: red;
  color: #6e6e6e;
}

.top-area .search .box select:last-child {
  margin-right: 0;
}
.top-area .search .box select {
  width: 10rem;
  margin-right: 0.625rem;
  font-size: 16px;
}
.top-area select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://tong.visitkorea.or.kr/vkm/safestay/usr/img/main/select.png) no-repeat 95% 50%;
  border: 1px solid #cfcfcf;
  background-color: #FFF;
}

.my-info-wraper .info-detail .wide1 {
  width: 260px;
}