<?xml version="1.0" encoding="UTF-8"?>

<!--<mapper namespace="MainReviewDao">

	<resultMap type="Review" id="danim">
		<result colum="review_num" property="review_num"></result>
		<result colum="review_title" property="review_title"></result>
		<result colum="writer" property="writer"></result>
		<result colum="view_count" property="view_count"></result>
		<result colum="comment_count" property="comment_count"></result>

	</resultMap>-->
	
	
	<!-- 게시판 목록 -->
<!--	<select id="ReviewList" parameterType="board">
		SELECT review_num as review_num,
				review_title as review_title,
				writer as writer,
				view_count as view_count,
				comment_count as comment_count
				FROM BOARD

	</select>

</mapper>-->